.sidebar
  .user
    %h1.user__name
      = current_user.name
    .user__icons
      = link_to new_group_path, class: "edit" do
        %i.fa.fa-edit
      = link_to edit_user_path(current_user), class: "cog" do
        %i.fa.fa-cog
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      .group
        %h2.group__name= group.name
        %p.group__new= group.show_last_message

  / .group
  /   %h2.group__name サンプル2
  /   %p.group__new テストテスト
  / .group
  /   %h2.group__name sampleグループ
  /   %p.group__new まだメッセージはありません
